/*
                        _______
                       /       \
                      .==.    .==.
                     ((  ))==((  ))
                    / "=="    "=="\
                   /____|| || ||___\
       ________     ____    ________  ___    ___
       |  ___  \   /    \   |  ___  \ |  |  /  /
       |  |  \  \ /  /\  \  |  |  \  \|  |_/  /
       |  |   )  /  /__\  \ |  |__/  /|  ___  \
       |  |__/  /  ______  \|  ____  \|  |  \  \
_______|_______/__/ ____ \__\__|___\__\__|___\__\____
|  ___  \ |  ____/ /    \   |  ___  \ |  ____|  ___  \
|  |  \  \|  |___ /  /\  \  |  |  \  \|  |___|  |  \  \
|  |__/  /|  ____/  /__\  \ |  |   )  |  ____|  |__/  /
|  ____  \|  |__/  ______  \|  |__/  /|  |___|  ____  \
|__|   \__\____/__/      \__\_______/ |______|__|   \__\
                https://darkreader.org
*/
/* User-Agent Style */
.list-group-item {
    background-color: rgb(40, 43, 45) !important;
}
.card {
    background-color: rgb(40, 43, 45) !important;
}
html {
    background-color: #131516 !important;
}
html, body, input, textarea, select, button {
    background-color: #131516;
}
html, body, input, textarea, select, button {
    border-color: #726a5c;
    color: #edebe8;
}
a {
    color: #2f92ff;
}
table {
    border-color: #52595c;
}
::placeholder {
    color: #b5ada3;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #535900 !important;
    color: #edebe8 !important;
}
::-webkit-scrollbar {
    background-color: #1b1e1f;
    color: #ada69a;
}
::-webkit-scrollbar-thumb {
    background-color: #42474a;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555c61;
}
::-webkit-scrollbar-thumb:active {
    background-color: #454c4f;
}
::-webkit-scrollbar-corner {
    background-color: #131516;
}
::selection {
    background-color: #004aac !important;
    color: #edebe8 !important;
}
::-moz-selection {
    background-color: #004aac !important;
    color: #edebe8 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(95%) !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #0e1011;
   --darkreader-neutral-text: #dcd8d3;
   --darkreader-selection-background: #004aac;
   --darkreader-selection-text: #edebe8;
}

/* Modified CSS */
html {
    -webkit-tap-highlight-color: transparent;
}
body {
    color: rgb(213, 209, 203);
    background-color: rgb(19, 21, 22); 
}
[tabindex="-1"]:focus {
    outline-color: initial !important;
}
abbr[data-original-title],
abbr[title] {
    text-decoration-color: initial;
    border-bottom-color: initial;
}
a {
    color: rgb(47, 164, 255);
    text-decoration-color: initial;
    background-color: transparent;
}
a:hover {
    color: rgb(95, 186, 255);
    text-decoration-color: initial;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration-color: initial;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration-color: initial;
}
a:not([href]):not([tabindex]):focus {
    outline-color: initial;
}
caption {
    color: rgb(160, 151, 137);
}
button:focus {
    outline-color: rgb(189, 123, 0);
}
fieldset {
    border-color: initial;
}
legend {
    color: inherit;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
}
hr {
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-top-color: rgba(141, 130, 114, 0.1);
}
.mark,
mark {
    background-color: rgb(60, 50, 1);
}
.list-unstyled {
    list-style-image: initial;
}
.list-inline {
    list-style-image: initial;
}
.blockquote-footer {
    color: rgb(160, 151, 137);
}
.img-thumbnail {
    background-color: rgb(19, 21, 22);
    border-color: rgb(52, 58, 60);
}
.figure-caption {
    color: rgb(160, 151, 137);
}
code {
    color: rgb(238, 71, 148);
}
a > code {
    color: inherit;
}
kbd {
    color: rgb(237, 235, 232);
    background-color: rgb(23, 25, 26);
}
pre {
    color: rgb(213, 209, 203);
}
pre code {
    color: inherit;
}
.table {
    background-color: transparent;
}
.table td,
.table th {
    border-top-color: rgb(52, 58, 60);
}
.table thead th {
    border-bottom-color: rgb(52, 58, 60);
}
.table tbody + tbody {
    border-top-color: rgb(52, 58, 60);
}
.table .table {
    background-color: rgb(19, 21, 22);
}
.table-bordered {
    border-color: rgb(52, 58, 60);
}
.table-bordered td,
.table-bordered th {
    border-color: rgb(52, 58, 60);
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.07);
}
.table-primary,
.table-primary > td,
.table-primary > th {
    background-color: rgb(40, 44, 46);
}
.table-hover .table-primary:hover {
    background-color: rgb(47, 51, 53);
}
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: rgb(47, 51, 53);
}
.table-secondary,
.table-secondary > td,
.table-secondary > th {
    background-color: rgb(42, 46, 47);
}
.table-hover .table-secondary:hover {
    background-color: rgb(49, 55, 57);
}
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: rgb(49, 55, 57);
}
.table-success,
.table-success > td,
.table-success > th {
    background-color: rgb(25, 69, 44);
}
.table-hover .table-success:hover {
    background-color: rgb(29, 81, 50);
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
    background-color: rgb(29, 81, 50);
}
.table-info,
.table-info > td,
.table-info > th {
    background-color: rgb(19, 68, 76);
}
.table-hover .table-info:hover {
    background-color: rgb(23, 79, 87);
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
    background-color: rgb(23, 79, 87);
}
.table-warning,
.table-warning > td,
.table-warning > th {
    background-color: rgb(90, 67, 0);
}
.table-hover .table-warning:hover {
    background-color: rgb(106, 79, 0);
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
    background-color: rgb(106, 79, 0);
}
.table-danger,
.table-danger > td,
.table-danger > th {
    background-color: rgb(76, 8, 15);
}
.table-hover .table-danger:hover {
    background-color: rgb(89, 10, 19);
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
    background-color: rgb(89, 10, 19);
}
.table-light,
.table-light > td,
.table-light > th {
    background-color: rgb(20, 22, 23);
}
.table-hover .table-light:hover {
    background-color: rgb(27, 30, 31);
}
.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
    background-color: rgb(27, 30, 31);
}
.table-dark,
.table-dark > td,
.table-dark > th {
    background-color: rgb(51, 57, 59);
}
.table-hover .table-dark:hover {
    background-color: rgb(59, 64, 67);
}
.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
    background-color: rgb(59, 64, 67);
}
.table-active,
.table-active > td,
.table-active > th {
    background-color: rgba(0, 0, 0, 0.07);
}
.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.07);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.07);
}
.table .thead-dark th {
    color: rgb(237, 235, 232);
    background-color: rgb(23, 25, 26);
    border-color: rgb(122, 112, 99);
}
.table .thead-light th {
    color: rgb(184, 177, 168);
    background-color: rgb(30, 34, 35);
    border-color: rgb(52, 58, 60);
}
.table-dark {
    color: rgb(237, 235, 232);
    background-color: rgb(23, 25, 26);
}
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: rgb(122, 112, 99);
}
.table-dark.table-bordered {
    border-color: initial;
}
.table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(19, 21, 22, 0.05);
}
.table-dark.table-hover tbody tr:hover {
    background-color: rgba(19, 21, 22, 0.07);
}
@media (max-width: 575.98px) {
    .table-responsive-sm > .table-bordered {
        border-color: initial;
    }
}
@media (max-width: 767.98px) {
    .table-responsive-md > .table-bordered {
        border-color: initial;
    }
}
@media (max-width: 991.98px) {
    .table-responsive-lg > .table-bordered {
        border-color: initial;
    }
}
@media (max-width: 1199.98px) {
    .table-responsive-xl > .table-bordered {
        border-color: initial;
    }
}
.table-responsive > .table-bordered {
    border-color: initial;
}
.form-control {
    color: rgb(184, 177, 168);
    background-color: rgb(19, 21, 22);
    border-color: rgb(57, 62, 65);
}
.form-control:focus {
    color: rgb(184, 177, 168);
    background-color: rgb(19, 21, 22);
    border-color: rgb(0, 64, 141);
    outline-color: initial;
    box-shadow: rgba(0, 97, 208, 0.25) 0px 0px 0px 0.2rem;
}
.form-control::-webkit-input-placeholder {
    color: rgb(160, 151, 137);
}
.form-control::placeholder {
    color: rgb(160, 151, 137);
}
.form-control:disabled,
.form-control[readonly] {
    background-color: rgb(30, 34, 35);
}
.form-control-plaintext {
    background-color: transparent;
    border-color: transparent;
}
.form-check-input:disabled ~ .form-check-label {
    color: rgb(160, 151, 137);
}
.valid-feedback {
    color: rgb(95, 221, 124);
}
.valid-tooltip {
    color: rgb(237, 235, 232);
    background-color: rgba(27, 134, 51, 0.8);
}
.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
    border-color: rgb(32, 157, 61);
}
.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
    border-color: rgb(32, 157, 61);
    box-shadow: rgba(27, 134, 51, 0.25) 0px 0px 0px 0.2rem;
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    color: rgb(95, 221, 124);
}
.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
    color: rgb(95, 221, 124);
}
.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
    background-color: rgb(25, 126, 68);
}
.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
    background-color: rgb(35, 165, 89);
}
.custom-control-input.is-valid:focus ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before {
    box-shadow: rgb(19, 21, 22) 0px 0px 0px 1px,
    rgba(27, 134, 51, 0.25) 0px 0px 0px 0.2rem;
}
.custom-file-input.is-valid ~ .custom-file-label,
.was-validated .custom-file-input:valid ~ .custom-file-label {
    border-color: rgb(32, 157, 61);
}
.custom-file-input.is-valid ~ .custom-file-label::before,
.was-validated .custom-file-input:valid ~ .custom-file-label::before {
    border-color: inherit;
}
.custom-file-input.is-valid:focus ~ .custom-file-label,
.was-validated .custom-file-input:valid:focus ~ .custom-file-label {
    box-shadow: rgba(27, 134, 51, 0.25) 0px 0px 0px 0.2rem;
}
.invalid-feedback {
    color: rgb(228, 67, 83);
}
.invalid-tooltip {
    color: rgb(237, 235, 232);
    background-color: rgba(167, 24, 38, 0.8);
}
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: rgb(149, 21, 32);
}
.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: rgb(149, 21, 32);
    box-shadow: rgba(167, 24, 38, 0.25) 0px 0px 0px 0.2rem;
}
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
    color: rgb(228, 67, 83);
}
.custom-control-input.is-invalid ~ .custom-control-label,
.was-validated .custom-control-input:invalid ~ .custom-control-label {
    color: rgb(228, 67, 83);
}
.custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    background-color: rgb(98, 11, 20);
}
.custom-control-input.is-invalid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before {
    background-color: rgb(140, 19, 30);
}
.custom-control-input.is-invalid:focus ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before {
    box-shadow: rgb(19, 21, 22) 0px 0px 0px 1px,
    rgba(167, 24, 38, 0.25) 0px 0px 0px 0.2rem;
}
.custom-file-input.is-invalid ~ .custom-file-label,
.was-validated .custom-file-input:invalid ~ .custom-file-label {
    border-color: rgb(149, 21, 32);
}
.custom-file-input.is-invalid ~ .custom-file-label::before,
.was-validated .custom-file-input:invalid ~ .custom-file-label::before {
    border-color: inherit;
}
.custom-file-input.is-invalid:focus ~ .custom-file-label,
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label {
    box-shadow: rgba(167, 24, 38, 0.25) 0px 0px 0px 0.2rem;
}
.btn {
    border-color: transparent;
}
.btn:focus,
.btn:hover {
    text-decoration-color: initial;
}
.btn.focus,
.btn:focus {
    outline-color: initial;
    box-shadow: rgba(0, 97, 208, 0.25) 0px 0px 0px 0.2rem;
}
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none;
}
.btn-primary {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
    border-color: rgb(0, 84, 182);
}
.btn-primary:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 82, 176);
    border-color: rgb(0, 91, 197);
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: rgba(0, 97, 208, 0.5) 0px 0px 0px 0.2rem;
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
    border-color: rgb(0, 84, 182);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 76, 165);
    border-color: rgb(0, 93, 202);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: rgba(0, 97, 208, 0.5) 0px 0px 0px 0.2rem;
}
.btn-secondary {
    color: rgb(237, 235, 232);
    background-color: rgb(86, 93, 98);
    border-color: rgb(101, 92, 81);
}
.btn-secondary:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(70, 77, 80);
    border-color: rgb(109, 101, 88);
}
.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: rgba(86, 93, 98, 0.5) 0px 0px 0px 0.2rem;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
    color: rgb(237, 235, 232);
    background-color: rgb(86, 93, 98);
    border-color: rgb(101, 92, 81);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(66, 71, 74);
    border-color: rgb(111, 103, 90);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: rgba(86, 93, 98, 0.5) 0px 0px 0px 0.2rem;
}
.btn-success {
    color: rgb(237, 235, 232);
    background-color: rgb(27, 134, 51);
    border-color: rgb(32, 157, 61);
}
.btn-success:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(21, 108, 41);
    border-color: rgb(36, 170, 66);
}
.btn-success.focus,
.btn-success:focus {
    box-shadow: rgba(27, 134, 51, 0.5) 0px 0px 0px 0.2rem;
}
.btn-success.disabled,
.btn-success:disabled {
    color: rgb(237, 235, 232);
    background-color: rgb(27, 134, 51);
    border-color: rgb(32, 157, 61);
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(19, 100, 38);
    border-color: rgb(37, 173, 68);
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: rgba(27, 134, 51, 0.5) 0px 0px 0px 0.2rem;
}
.btn-info {
    color: rgb(237, 235, 232);
    background-color: rgb(13, 130, 148);
    border-color: rgb(16, 152, 173);
}
.btn-info:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(9, 105, 120);
    border-color: rgb(18, 165, 189);
}
.btn-info.focus,
.btn-info:focus {
    box-shadow: rgba(13, 130, 148, 0.5) 0px 0px 0px 0.2rem;
}
.btn-info.disabled,
.btn-info:disabled {
    color: rgb(237, 235, 232);
    background-color: rgb(13, 130, 148);
    border-color: rgb(16, 152, 173);
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(8, 97, 110);
    border-color: rgb(19, 168, 191);
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: rgba(13, 130, 148, 0.5) 0px 0px 0px 0.2rem;
}
.btn-warning {
    color: rgb(213, 209, 203);
    background-color: rgb(204, 151, 0);
    border-color: rgb(178, 132, 0);
}
.btn-warning:hover {
    color: rgb(213, 209, 203);
    background-color: rgb(182, 134, 0);
    border-color: rgb(195, 145, 0);
}
.btn-warning.focus,
.btn-warning:focus {
    box-shadow: rgba(204, 151, 0, 0.5) 0px 0px 0px 0.2rem;
}
.btn-warning.disabled,
.btn-warning:disabled {
    color: rgb(213, 209, 203);
    background-color: rgb(204, 151, 0);
    border-color: rgb(178, 132, 0);
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: rgb(213, 209, 203);
    background-color: rgb(171, 126, 0);
    border-color: rgb(199, 148, 0);
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: rgba(204, 151, 0, 0.5) 0px 0px 0px 0.2rem;
}
.btn-danger {
    color: rgb(237, 235, 232);
    background-color: rgb(167, 24, 38);
    border-color: rgb(149, 21, 32);
}
.btn-danger:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(162, 23, 37);
    border-color: rgb(162, 23, 37);
}
.btn-danger.focus,
.btn-danger:focus {
    box-shadow: rgba(167, 24, 38, 0.5) 0px 0px 0px 0.2rem;
}
.btn-danger.disabled,
.btn-danger:disabled {
    color: rgb(237, 235, 232);
    background-color: rgb(167, 24, 38);
    border-color: rgb(149, 21, 32);
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(152, 21, 34);
    border-color: rgb(166, 24, 37);
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: rgba(167, 24, 38, 0.5) 0px 0px 0px 0.2rem;
}
.btn-light {
    color: rgb(213, 209, 203);
    background-color: rgb(22, 25, 26);
    border-color: rgb(46, 50, 52);
}
.btn-light:hover {
    color: rgb(213, 209, 203);
    background-color: rgb(34, 37, 39);
    border-color: rgb(53, 59, 61);
}
.btn-light.focus,
.btn-light:focus {
    box-shadow: rgba(22, 25, 26, 0.5) 0px 0px 0px 0.2rem;
}
.btn-light.disabled,
.btn-light:disabled {
    color: rgb(213, 209, 203);
    background-color: rgb(22, 25, 26);
    border-color: rgb(46, 50, 52);
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    color: rgb(213, 209, 203);
    background-color: rgb(38, 41, 43);
    border-color: rgb(56, 61, 63);
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: rgba(22, 25, 26, 0.5) 0px 0px 0px 0.2rem;
}
.btn-dark {
    color: rgb(237, 235, 232);
    background-color: rgb(40, 43, 45);
    border-color: rgb(121, 111, 98);
}
.btn-dark:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(24, 27, 28);
    border-color: rgb(129, 120, 105);
}
.btn-dark.focus,
.btn-dark:focus {
    box-shadow: rgba(40, 43, 45, 0.5) 0px 0px 0px 0.2rem;
}
.btn-dark.disabled,
.btn-dark:disabled {
    color: rgb(237, 235, 232);
    background-color: rgb(40, 43, 45);
    border-color: rgb(121, 111, 98);
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(19, 22, 23);
    border-color: rgb(131, 122, 107);
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: rgba(40, 43, 45, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-primary {
    color: rgb(47, 164, 255);
    background-color: transparent;
    background-image: none;
    border-color: rgb(0, 84, 182);
}
.btn-outline-primary:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
    border-color: rgb(0, 84, 182);
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: rgba(0, 97, 208, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: rgb(47, 164, 255);
    background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
    border-color: rgb(0, 84, 182);
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: rgba(0, 97, 208, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-secondary {
    color: rgb(160, 151, 137);
    background-color: transparent;
    background-image: none;
    border-color: rgb(101, 92, 81);
}
.btn-outline-secondary:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(86, 93, 98);
    border-color: rgb(101, 92, 81);
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: rgba(86, 93, 98, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: rgb(160, 151, 137);
    background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(86, 93, 98);
    border-color: rgb(101, 92, 81);
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: rgba(86, 93, 98, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-success {
    color: rgb(95, 221, 124);
    background-color: transparent;
    background-image: none;
    border-color: rgb(32, 157, 61);
}
.btn-outline-success:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(27, 134, 51);
    border-color: rgb(32, 157, 61);
}
.btn-outline-success.focus,
.btn-outline-success:focus {
    box-shadow: rgba(27, 134, 51, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: rgb(95, 221, 124);
    background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(27, 134, 51);
    border-color: rgb(32, 157, 61);
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: rgba(27, 134, 51, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-info {
    color: rgb(79, 216, 238);
    background-color: transparent;
    background-image: none;
    border-color: rgb(16, 152, 173);
}
.btn-outline-info:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(13, 130, 148);
    border-color: rgb(16, 152, 173);
}
.btn-outline-info.focus,
.btn-outline-info:focus {
    box-shadow: rgba(13, 130, 148, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: rgb(79, 216, 238);
    background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(13, 130, 148);
    border-color: rgb(16, 152, 173);
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: rgba(13, 130, 148, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-warning {
    color: rgb(255, 203, 25);
    background-color: transparent;
    background-image: none;
    border-color: rgb(178, 132, 0);
}
.btn-outline-warning:hover {
    color: rgb(213, 209, 203);
    background-color: rgb(204, 151, 0);
    border-color: rgb(178, 132, 0);
}
.btn-outline-warning.focus,
.btn-outline-warning:focus {
    box-shadow: rgba(204, 151, 0, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: rgb(255, 203, 25);
    background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
    color: rgb(213, 209, 203);
    background-color: rgb(204, 151, 0);
    border-color: rgb(178, 132, 0);
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: rgba(204, 151, 0, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-danger {
    color: rgb(228, 67, 83);
    background-color: transparent;
    background-image: none;
    border-color: rgb(149, 21, 32);
}
.btn-outline-danger:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(167, 24, 38);
    border-color: rgb(149, 21, 32);
}
.btn-outline-danger.focus,
.btn-outline-danger:focus {
    box-shadow: rgba(167, 24, 38, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: rgb(228, 67, 83);
    background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(167, 24, 38);
    border-color: rgb(149, 21, 32);
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: rgba(167, 24, 38, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-light {
    color: rgb(233, 231, 227);
    background-color: transparent;
    background-image: none;
    border-color: rgb(46, 50, 52);
}
.btn-outline-light:hover {
    color: rgb(213, 209, 203);
    background-color: rgb(22, 25, 26);
    border-color: rgb(46, 50, 52);
}
.btn-outline-light.focus,
.btn-outline-light:focus {
    box-shadow: rgba(22, 25, 26, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: rgb(233, 231, 227);
    background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
    color: rgb(213, 209, 203);
    background-color: rgb(22, 25, 26);
    border-color: rgb(46, 50, 52);
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: rgba(22, 25, 26, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-dark {
    color: rgb(198, 193, 185);
    background-color: transparent;
    background-image: none;
    border-color: rgb(121, 111, 98);
}
.btn-outline-dark:hover {
    color: rgb(237, 235, 232);
    background-color: rgb(40, 43, 45);
    border-color: rgb(121, 111, 98);
}
.btn-outline-dark.focus,
.btn-outline-dark:focus {
    box-shadow: rgba(40, 43, 45, 0.5) 0px 0px 0px 0.2rem;
}
.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: rgb(198, 193, 185);
    background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
    color: rgb(237, 235, 232);
    background-color: rgb(40, 43, 45);
    border-color: rgb(121, 111, 98);
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: rgba(40, 43, 45, 0.5) 0px 0px 0px 0.2rem;
}
.btn-link {
    color: rgb(47, 164, 255);
    background-color: transparent;
}
.btn-link:hover {
    color: rgb(95, 186, 255);
    text-decoration-color: initial;
    background-color: transparent;
    border-color: transparent;
}
.btn-link.focus,
.btn-link:focus {
    text-decoration-color: initial;
    border-color: transparent;
    box-shadow: none;
}
.btn-link.disabled,
.btn-link:disabled {
    color: rgb(160, 151, 137);
}
.dropdown-toggle::after {
    border-top-color: initial;
    border-right-color: transparent;
    border-bottom-color: initial;
    border-left-color: transparent;
}
.dropdown-menu {
    color: rgb(213, 209, 203);
    list-style-image: initial;
    background-color: rgb(19, 21, 22);
    border-color: rgba(141, 130, 114, 0.15);
}
.dropup .dropdown-toggle::after {
    border-top-color: initial;
    border-right-color: transparent;
    border-bottom-color: initial;
    border-left-color: transparent;
}
.dropright .dropdown-toggle::after {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: initial;
}
.dropleft .dropdown-toggle::before {
    border-top-color: transparent;
    border-right-color: initial;
    border-bottom-color: transparent;
}
.dropdown-divider {
    border-top-color: rgb(49, 55, 57);
}
.dropdown-item {
    color: rgb(213, 209, 203);
    background-color: transparent;
    border-color: initial;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: rgb(221, 217, 212);
    text-decoration-color: initial;
    background-color: rgb(22, 25, 26);
}
.dropdown-item.active,
.dropdown-item:active {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(0, 97, 208);
}
.dropdown-item.disabled,
.dropdown-item:disabled {
    color: rgb(160, 151, 137);
    background-color: transparent;
}
.dropdown-header {
    color: rgb(160, 151, 137);
}
.input-group-text {
    color: rgb(184, 177, 168);
    background-color: rgb(30, 34, 35);
    border-color: rgb(57, 62, 65);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: rgb(19, 21, 22) 0px 0px 0px 1px,
    rgba(0, 97, 208, 0.25) 0px 0px 0px 0.2rem;
}
.custom-control-input:active ~ .custom-control-label::before {
    color: rgb(237, 235, 232);
    background-color: rgb(41, 45, 47);
}
.custom-control-input:disabled ~ .custom-control-label {
    color: rgb(160, 151, 137);
}
.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: rgb(30, 34, 35);
}
.custom-control-label::before {
    background-color: rgb(36, 40, 41);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgb(0, 97, 208);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: rgb(0, 97, 208);
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 97, 208, 0.5);
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(0, 97, 208, 0.5);
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgb(0, 97, 208);
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 97, 208, 0.5);
}
.custom-select {
    color: rgb(184, 177, 168);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-color: rgb(19, 21, 22);
    border-color: rgb(57, 62, 65);
}
.custom-select:focus {
    border-color: rgb(0, 64, 141);
    outline-color: initial;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset,
    rgba(0, 58, 127, 0.5) 0px 0px 5px;
}
.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
    background-image: none;
}
.custom-select:disabled {
    color: rgb(160, 151, 137);
    background-color: rgb(30, 34, 35);
}
.custom-file-input:focus ~ .custom-file-control {
    border-color: rgb(0, 64, 141);
    box-shadow: rgba(0, 97, 208, 0.25) 0px 0px 0px 0.2rem;
}
.custom-file-input:focus ~ .custom-file-control::before {
    border-color: rgb(0, 64, 141);
}
.custom-file-label {
    color: rgb(184, 177, 168);
    background-color: rgb(19, 21, 22);
    border-color: rgb(57, 62, 65);
}
.custom-file-label::after {
    color: rgb(184, 177, 168);
    background-color: rgb(30, 34, 35);
    border-left-color: rgb(57, 62, 65);
}
.nav {
    list-style-image: initial;
}
.nav-link:focus,
.nav-link:hover {
    text-decoration-color: initial;
}
.nav-link.disabled {
    color: rgb(160, 151, 137);
}
.nav-tabs {
    border-bottom-color: rgb(52, 58, 60);
}
.nav-tabs .nav-link {
    border-color: transparent;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: rgb(49, 55, 57) rgb(49, 55, 57) rgb(52, 58, 60);
}
.nav-tabs .nav-link.disabled {
    color: rgb(160, 151, 137);
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(184, 177, 168);
    background-color: rgb(19, 21, 22);
    border-color: rgb(52, 58, 60) rgb(52, 58, 60) rgb(44, 48, 50);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
}
.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration-color: initial;
}
.navbar-nav {
    list-style-image: initial;
}
.navbar-toggler {
    background-color: transparent;
    border-color: transparent;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration-color: initial;
}
.navbar-toggler-icon {
    background-image: initial;
    background-color: initial;
}
.navbar-light .navbar-brand {
    color: rgba(237, 235, 232, 0.9);
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(237, 235, 232, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(237, 235, 232, 0.5);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(237, 235, 232, 0.7);
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(237, 235, 232, 0.3);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(237, 235, 232, 0.9);
}
.navbar-light .navbar-toggler {
    color: rgba(237, 235, 232, 0.5);
    border-color: rgba(141, 130, 114, 0.1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;
    charset=utf8,
    %3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-text {
    color: rgba(237, 235, 232, 0.5);
}
.navbar-light .navbar-text a {
    color: rgba(237, 235, 232, 0.9);
}
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
    color: rgba(237, 235, 232, 0.9);
}
.navbar-dark .navbar-brand {
    color: rgb(237, 235, 232);
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: rgb(237, 235, 232);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(237, 235, 232, 0.5);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(237, 235, 232, 0.75);
}
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(237, 235, 232, 0.25);
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    color: rgb(237, 235, 232);
}
.navbar-dark .navbar-toggler {
    color: rgba(237, 235, 232, 0.5);
    border-color: rgba(44, 48, 50, 0.1);
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;
    charset=utf8,
    %3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-dark .navbar-text {
    color: rgba(237, 235, 232, 0.5);
}
.navbar-dark .navbar-text a {
    color: rgb(237, 235, 232);
}
.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
    color: rgb(237, 235, 232);
}
.card {
    background-color: rgb(19, 21, 22);
    border-color: rgba(141, 130, 114, 0.13);
}
.card-link:hover {
    text-decoration-color: initial;
}
.card-header {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom-color: rgba(141, 130, 114, 0.13);
}
.card-header + .list-group .list-group-item:first-child {
    border-top-color: initial;
}
.card-footer {
    background-color: rgba(0, 0, 0, 0.03);
    border-top-color: rgba(141, 130, 114, 0.13);
}
.card-header-tabs {
    border-bottom-color: initial;
}
@media (min-width: 576px) {
    .card-group > .card + .card {
        border-left-color: initial;
    }
}
.breadcrumb {
    list-style-image: initial;
    background-color: rgb(30, 34, 35);
}
.breadcrumb-item + .breadcrumb-item::before {
    color: rgb(160, 151, 137);
}
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration-color: initial;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration-color: initial;
}
.breadcrumb-item.active {
    color: rgb(160, 151, 137);
}
.pagination {
    list-style-image: initial;
}
.page-link {
    color: rgb(47, 164, 255);
    background-color: rgb(19, 21, 22);
    border-color: rgb(52, 58, 60);
}
.page-link:hover {
    color: rgb(95, 186, 255);
    text-decoration-color: initial;
    background-color: rgb(30, 34, 35);
    border-color: rgb(52, 58, 60);
}
.page-link:focus {
    outline-color: initial;
    box-shadow: rgba(0, 97, 208, 0.25) 0px 0px 0px 0.2rem;
}
.page-item.active .page-link {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
    border-color: rgb(0, 84, 182);
}
.page-item.disabled .page-link {
    color: rgb(160, 151, 137);
    background-color: rgb(19, 21, 22);
    border-color: rgb(52, 58, 60);
}
.badge-primary {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
}
.badge-primary[href]:focus,
.badge-primary[href]:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(0, 76, 165);
}
.badge-secondary {
    color: rgb(237, 235, 232);
    background-color: rgb(86, 93, 98);
}
.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(66, 71, 74);
}
.badge-success {
    color: rgb(237, 235, 232);
    background-color: rgb(27, 134, 51);
}
.badge-success[href]:focus,
.badge-success[href]:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(19, 100, 38);
}
.badge-info {
    color: rgb(237, 235, 232);
    background-color: rgb(13, 130, 148);
}
.badge-info[href]:focus,
.badge-info[href]:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(8, 97, 110);
}
.badge-warning {
    color: rgb(213, 209, 203);
    background-color: rgb(204, 151, 0);
}
.badge-warning[href]:focus,
.badge-warning[href]:hover {
    color: rgb(213, 209, 203);
    text-decoration-color: initial;
    background-color: rgb(171, 126, 0);
}
.badge-danger {
    color: rgb(237, 235, 232);
    background-color: rgb(167, 24, 38);
}
.badge-danger[href]:focus,
.badge-danger[href]:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(152, 21, 34);
}
.badge-light {
    color: rgb(213, 209, 203);
    background-color: rgb(22, 25, 26);
}
.badge-light[href]:focus,
.badge-light[href]:hover {
    color: rgb(213, 209, 203);
    text-decoration-color: initial;
    background-color: rgb(38, 41, 43);
}
.badge-dark {
    color: rgb(237, 235, 232);
    background-color: rgb(40, 43, 45);
}
.badge-dark[href]:focus,
.badge-dark[href]:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    background-color: rgb(19, 22, 23);
}
.jumbotron {
    background-color: rgb(30, 34, 35);
}
.alert {
    border-color: transparent;
}
.alert-heading {
    color: inherit;
}
.alert-dismissible .close {
    color: inherit;
}
.alert-primary {
    color: rgb(124, 198, 255);
    background-color: rgb(34, 38, 39);
    border-color: rgb(0, 56, 123);
}
.alert-primary hr {
    border-top-color: rgb(0, 60, 131);
}
.alert-primary .alert-link {
    color: rgb(210, 206, 198);
}
.alert-secondary {
    color: rgb(197, 191, 183);
    background-color: rgb(36, 39, 40);
    border-color: rgb(56, 61, 63);
}
.alert-secondary hr {
    border-top-color: rgb(60, 65, 67);
}
.alert-secondary .alert-link {
    color: rgb(214, 210, 204);
}
.alert-success {
    color: rgb(154, 235, 173);
    background-color: rgb(21, 59, 37);
    border-color: rgb(32, 88, 46);
}
.alert-success hr {
    border-top-color: rgb(35, 94, 48);
}
.alert-success .alert-link {
    color: rgb(218, 214, 209);
}
.alert-info {
    color: rgb(143, 232, 247);
    background-color: rgb(15, 56, 64);
    border-color: rgb(25, 87, 95);
}
.alert-info hr {
    border-top-color: rgb(27, 91, 102);
}
.alert-info .alert-link {
    color: rgb(218, 214, 209);
}
.alert-warning {
    color: rgb(255, 219, 111);
    background-color: rgb(79, 59, 0);
    border-color: rgb(123, 90, 0);
}
.alert-warning hr {
    border-top-color: rgb(130, 97, 0);
}
.alert-warning .alert-link {
    color: rgb(209, 204, 197);
}
.alert-danger {
    color: rgb(230, 134, 144);
    background-color: rgb(64, 6, 11);
    border-color: rgb(103, 13, 22);
}
.alert-danger hr {
    border-top-color: rgb(109, 15, 24);
}
.alert-danger .alert-link {
    color: rgb(207, 203, 195);
}
.alert-light {
    color: rgb(154, 145, 131);
    background-color: rgb(20, 22, 23);
    border-color: rgb(29, 29, 66);
}
.alert-light hr {
    border-top-color: rgb(30, 30, 72);
}
.alert-light .alert-link {
    color: rgb(168, 161, 148);
}
.alert-dark {
    color: rgb(217, 213, 208);
    background-color: rgb(42, 46, 48);
    border-color: rgb(61, 66, 68);
}
.alert-dark hr {
    border-top-color: rgb(64, 70, 72);
}
.alert-dark .alert-link {
    color: rgb(234, 232, 229);
}
.progress {
    background-color: rgb(30, 34, 35);
}
.progress-bar {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
}
.progress-bar-striped {
    background-image: linear-gradient(45deg,
    rgba(19, 21, 22, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(19, 21, 22, 0.15) 50%,
    rgba(19, 21, 22, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0));
}
.list-group-item-action {
    color: rgb(184, 177, 168);
}
.list-group-item-action:focus,
.list-group-item-action:hover {
    color: rgb(184, 177, 168);
    text-decoration-color: initial;
    background-color: rgb(22, 25, 26);
}
.list-group-item-action:active {
    color: rgb(213, 209, 203);
    background-color: rgb(30, 34, 35);
}
.list-group-item {
    background-color: rgb(19, 21, 22);
    border-color: rgba(141, 130, 114, 0.13);
}
.list-group-item:focus,
.list-group-item:hover {
    text-decoration-color: initial;
}
.list-group-item.disabled,
.list-group-item:disabled {
    color: rgb(160, 151, 137);
    background-color: rgb(19, 21, 22);
}
.list-group-item.active {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 97, 208);
    border-color: rgb(0, 84, 182);
}
.list-group-flush .list-group-item {
    border-right-color: initial;
    border-left-color: initial;
}
.list-group-flush:first-child .list-group-item:first-child {
    border-top-color: initial;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom-color: initial;
}
.list-group-item-primary {
    color: rgb(124, 198, 255);
    background-color: rgb(40, 44, 46);
}
.list-group-item-primary.list-group-item-action:focus,
.list-group-item-primary.list-group-item-action:hover {
    color: rgb(124, 198, 255);
    background-color: rgb(47, 51, 53);
}
.list-group-item-primary.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 47, 105);
    border-color: rgb(0, 103, 219);
}
.list-group-item-secondary {
    color: rgb(197, 191, 183);
    background-color: rgb(42, 46, 47);
}
.list-group-item-secondary.list-group-item-action:focus,
.list-group-item-secondary.list-group-item-action:hover {
    color: rgb(197, 191, 183);
    background-color: rgb(49, 55, 57);
}
.list-group-item-secondary.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(42, 45, 47);
    border-color: rgb(120, 110, 98);
}
.list-group-item-success {
    color: rgb(154, 235, 173);
    background-color: rgb(25, 69, 44);
}
.list-group-item-success.list-group-item-action:focus,
.list-group-item-success.list-group-item-action:hover {
    color: rgb(154, 235, 173);
    background-color: rgb(29, 81, 50);
}
.list-group-item-success.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(11, 67, 24);
    border-color: rgb(39, 182, 71);
}
.list-group-item-info {
    color: rgb(143, 232, 247);
    background-color: rgb(19, 68, 76);
}
.list-group-item-info.list-group-item-action:focus,
.list-group-item-info.list-group-item-action:hover {
    color: rgb(143, 232, 247);
    background-color: rgb(23, 79, 87);
}
.list-group-item-info.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(4, 64, 74);
    border-color: rgb(20, 175, 202);
}
.list-group-item-warning {
    color: rgb(255, 219, 111);
    background-color: rgb(90, 67, 0);
}
.list-group-item-warning.list-group-item-action:focus,
.list-group-item-warning.list-group-item-action:hover {
    color: rgb(255, 219, 111);
    background-color: rgb(106, 79, 0);
}
.list-group-item-warning.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(105, 78, 0);
    border-color: rgb(212, 157, 0);
}
.list-group-item-danger {
    color: rgb(230, 134, 144);
    background-color: rgb(76, 8, 15);
}
.list-group-item-danger.list-group-item-action:focus,
.list-group-item-danger.list-group-item-action:hover {
    color: rgb(230, 134, 144);
    background-color: rgb(89, 10, 19);
}
.list-group-item-danger.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(89, 17, 24);
    border-color: rgb(173, 38, 50);
}
.list-group-item-light {
    color: rgb(154, 145, 131);
    background-color: rgb(20, 22, 23);
}
.list-group-item-light.list-group-item-action:focus,
.list-group-item-light.list-group-item-action:hover {
    color: rgb(154, 145, 131);
    background-color: rgb(27, 30, 31);
}
.list-group-item-light.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(93, 102, 106);
    border-color: rgb(81, 88, 92);
}
.list-group-item-dark {
    color: rgb(217, 213, 208);
    background-color: rgb(51, 57, 59);
}
.list-group-item-dark.list-group-item-action:focus,
.list-group-item-dark.list-group-item-action:hover {
    color: rgb(217, 213, 208);
    background-color: rgb(59, 64, 67);
}
.list-group-item-dark.list-group-item-action.active {
    color: rgb(237, 235, 232);
    background-color: rgb(18, 19, 20);
    border-color: rgb(130, 121, 106);
}
.close {
    color: rgb(237, 235, 232);
    text-shadow: rgb(19, 21, 22) 0px 1px 0px;
}
.close:focus,
.close:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
}
button.close {
    background-color: transparent;
    border-color: initial;
}
.modal {
    outline-color: initial;
}
.modal-content {
    background-color: rgb(19, 21, 22);
    border-color: rgba(141, 130, 114, 0.2);
    outline-color: initial;
}
.modal-backdrop {
    background-color: rgb(0, 0, 0);
}
.modal-header {
    border-bottom-color: rgb(49, 55, 57);
}
.modal-footer {
    border-top-color: rgb(49, 55, 57); 
}
.tooltip {
    text-decoration-color: initial; text-shadow: none; 
}
.tooltip .arrow::before {
    border-color: transparent; 
}
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: rgb(141, 130, 114); 
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: rgb(141, 130, 114); 
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: rgb(141, 130, 114); 
}
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: rgb(141, 130, 114);
}
.tooltip-inner {
    color: rgb(237, 235, 232);
    background-color: rgb(0, 0, 0);
}
.popover {
    text-decoration-color: initial;
    text-shadow: none;
    background-color: rgb(19, 21, 22);
    border-color: rgba(141, 130, 114, 0.2); 
}
.popover .arrow::after, .popover .arrow::before {
    border-color: transparent; 
}
.bs-popover-auto[x-placement^="top"] .arrow::before,
.bs-popover-top .arrow::before {
    border-top-color: rgba(141, 130, 114, 0.25); 
}
.bs-popover-auto[x-placement^="top"] .arrow::after,
.bs-popover-top .arrow::after {
    border-top-color: rgb(44, 48, 50); 
}
.bs-popover-auto[x-placement^="right"] .arrow::before,
.bs-popover-right .arrow::before {
    border-right-color: rgba(141, 130, 114, 0.25); 
}
.bs-popover-auto[x-placement^="right"] .arrow::after,
.bs-popover-right .arrow::after {
    border-right-color: rgb(44, 48, 50); 
}
.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::before {
    border-bottom-color: rgba(141, 130, 114, 0.25); 
}
.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-bottom .arrow::after {
    border-bottom-color: rgb(44, 48, 50); 
}
.bs-popover-auto[x-placement^="bottom"] .popover-header::before,
.bs-popover-bottom .popover-header::before {
    border-bottom-color: rgb(46, 50, 53); 
}
.bs-popover-auto[x-placement^="left"] .arrow::before,
.bs-popover-left .arrow::before {
    border-left-color: rgba(141, 130, 114, 0.25); 
}
.bs-popover-auto[x-placement^="left"] .arrow::after,
.bs-popover-left .arrow::after {
    border-left-color: rgb(44, 48, 50);
}
.popover-header {
    color: inherit;
    background-color: rgb(24, 26, 27);
    border-bottom-color: rgb(50, 55, 57);
}
.popover-body {
    color: rgb(213, 209, 203);
}
.carousel-control-next,
.carousel-control-prev {
    color: rgb(237, 235, 232);
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: rgb(237, 235, 232);
    text-decoration-color: initial;
    outline-color: initial;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: initial;
    background-color: transparent;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators {
    list-style-image: initial;
}
.carousel-indicators li {
    background-color: rgba(19, 21, 22, 0.5);
}
.carousel-indicators .active {
    background-color: rgb(19, 21, 22);
}
.carousel-caption {
    color: rgb(237, 235, 232);
}
.bg-primary {
    background-color: rgb(0, 97, 208) !important;
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: rgb(0, 76, 165) !important;
}
.bg-secondary {
    background-color: rgb(86, 93, 98) !important;
}
a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
    background-color: rgb(66, 71, 74) !important;
}
.bg-success {
    background-color: rgb(27, 134, 51) !important;
}
a.bg-success:focus,
a.bg-success:hover,
button.bg-success:focus,
button.bg-success:hover {
    background-color: rgb(19, 100, 38) !important;
}
.bg-info {
    background-color: rgb(13, 130, 148) !important;
}
a.bg-info:focus,
a.bg-info:hover,
button.bg-info:focus,
button.bg-info:hover {
    background-color: rgb(8, 97, 110) !important;
}
.bg-warning {
    background-color: rgb(204, 151, 0) !important;
}
a.bg-warning:focus,
a.bg-warning:hover,
button.bg-warning:focus,
button.bg-warning:hover {
    background-color: rgb(171, 126, 0) !important;
}
.bg-danger {
    background-color: rgb(167, 24, 38) !important;
}
a.bg-danger:focus,
a.bg-danger:hover,
button.bg-danger:focus,
button.bg-danger:hover {
    background-color: rgb(152, 21, 34) !important;
}
.bg-light {
    background-color: rgb(22, 25, 26) !important;
}
a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
    background-color: rgb(38, 41, 43) !important;
}
.bg-dark {
    background-color: rgb(40, 43, 45) !important;
}
a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
    background-color: rgb(19, 22, 23) !important;
}
.bg-white {
    background-color: rgb(19, 21, 22) !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.border {
    border-color: rgb(52, 58, 60) !important;
}
.border-top {
    border-top-color: rgb(52, 58, 60) !important;
}
.border-right {
    border-right-color: rgb(52, 58, 60) !important;
}
.border-bottom {
    border-bottom-color: rgb(52, 58, 60) !important;
}
.border-left {
    border-left-color: rgb(52, 58, 60) !important;
}
.border-0 {
    border-color: initial !important;
}
.border-top-0 {
    border-top-color: initial !important;
}
.border-right-0 {
    border-right-color: initial !important;
}
.border-bottom-0 {
    border-bottom-color: initial !important;
}
.border-left-0 {
    border-left-color: initial !important;
}
.border-primary {
    border-color: rgb(0, 84, 182) !important;
}
.border-secondary {
    border-color: rgb(101, 92, 81) !important;
}
.border-success {
    border-color: rgb(32, 157, 61) !important;
}
.border-info {
    border-color: rgb(16, 152, 173) !important;
}
.border-warning {
    border-color: rgb(178, 132, 0) !important;
}
.border-danger {
    border-color: rgb(149, 21, 32) !important;
}
.border-light {
    border-color: rgb(46, 50, 52) !important;
}
.border-dark {
    border-color: rgb(121, 111, 98) !important;
}
.border-white {
    border-color: rgb(44, 48, 50) !important;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    border-color: initial;
}
.sr-only {
    border-color: initial;
}
.text-white {
    color: rgb(237, 235, 232) !important;
}
.text-primary {
    color: rgb(47, 164, 255) !important;
}
a.text-primary:focus,
a.text-primary:hover {
    color: rgb(80, 178, 255) !important;
}
.text-secondary {
    color: rgb(160, 151, 137) !important;
}
a.text-secondary:focus,
a.text-secondary:hover {
    color: rgb(177, 170, 158) !important;
}
.text-success {
    color: rgb(95, 221, 124) !important;
}
a.text-success:focus,
a.text-success:hover {
    color: rgb(126, 229, 149) !important;
}
.text-info {
    color: rgb(79, 216, 238) !important;
}
a.text-info:focus,
a.text-info:hover {
    color: rgb(111, 225, 244) !important;
}
.text-warning {
    color: rgb(255, 203, 25) !important;
}
a.text-warning:focus,
a.text-warning:hover {
    color: rgb(255, 209, 52) !important;
}
.text-danger {
    color: rgb(228, 67, 83) !important;
}
a.text-danger:focus,
a.text-danger:hover {
    color: rgb(229, 77, 91) !important;
}
.text-light {
    color: rgb(233, 231, 227) !important;
}
a.text-light:focus,
a.text-light:hover {
    color: rgb(216, 212, 207) !important;
}
.text-dark {
    color: rgb(198, 193, 185) !important;
}
a.text-dark:focus,
a.text-dark:hover {
    color: rgb(215, 212, 206) !important;
}
.text-muted {
    color: rgb(160, 151, 137) !important;
}
.text-hide {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border-color: initial;
}
label {
    color: rgb(153, 144, 129);
}
label:hover,
label:hover ~ label {
    color: rgb(255, 176, 21);
}
#estrellafija {
    color: rgb(255, 176, 21); 
}
input[type="radio"]:checked ~ label {
    color: rgb(255, 176, 21);
}

/* Override Style */
.vimvixen-hint {
    background-color: #7b5100 !important;
    border-color: #dcb20d !important;
    color: #f9edcc !important;
}
::placeholder {
    opacity: 0.5 !important;
}
