@model List<Pelicula>

@{
    ViewData["Title"] = "Favoritas";
    User usuario = ViewData["USUARIO"] as User;
    ViewData["MENSAJE"] = "No tiene peliculas favoritas, debe añadir las que más le gusten";
}
<link rel="stylesheet" href="~/css/fancybox.min.css" media="screen" />


@if (Model != null)
{
    <div class="container page-top">
        <h1 class="display-4 text-center">FAVORITAS</h1>
        <p class="text-center" style="font-size:18px">Aqui tines tus peliculas favoritas, @usuario.Nombre</p><br />

        <div class="row">
            @foreach (Pelicula peli in Model)
            {
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a asp-controller="Peliculas" asp-action="Details" asp-route-idPelicula="@peli.IdPelicula" class="fancybox" rel="ligthbox">
                        <img src="http://127.0.0.1:10000/devstoreaccount1/alexflix/images/@peli.Imagen" class="zoom img-fluid " alt="">
                    </a>
                </div>}
        </div>
    </div>
}
else
{
    <div class="container text-center">
        <h2>@ViewData["MENSAJE"]</h2>
        <br />
        <a asp-controller="Peliculas" asp-action="Index">
            Ver cartelera
        </a>
    </div>
}