<div class="text-center">
    <h2 style="color:red">
        Quieres cerrar session?
    </h2>
    <a class="btn btn-danger"
       asp-controller="Identity"
       asp-action="CerrarSesion">
        Log Out
    </a>
</div>